<div id="card" class="col-12 col-lg-3 m-3 card">
    <div class="p-3 h-fit text-center">
        <i id="icon" class="fab {{brand.icon}} fa-10x"></i>
    </div>
    <div>
        <div id="cardbody"class="card-body flex-column">
            <h5 class="card-title h2 text-center" data-type="level" data-experience="{{exp}}"> {{ name }}  Level:<span ></span></h5>
            <ul class="brand-stats card-text">
                <li class="card-text m-2 fs-3 text-center">Health: {{currenthealth}} </li>
                <li class="card-text m-2 fs-2 text-center">
                    {{#if (energyFull carestat.energy)}}<i class="fas fa-battery-full" style="font-weight: 800;"></i>{{/if}}
                    {{#if (energyHalf carestat.energy)}}<i class="fas fa-battery-half" style="font-weight: 800;"></i>{{/if}}
                    {{#if (energyEmpty carestat.energy)}}<i class="fas fa-battery-empty" style="font-weight: 800;"></i>{{/if}}</li>
            </ul>
            <div class="button-holder text-center">
                <a href="/creature/{{ id }}" id="cardButton" class="btn m-1">Visit Brand</a>
            </div>
        </div>
    </div>
</div>