<div id="card" class="col-12 col-lg-4 card m-3 p-4">
    <i id="icon" class="fab {{brand.icon}} fa-10x"></i>
    <div class="card-body">
        <h5 class="card-title h2">{{name}}</h5>
        <ul class="brand-stats card-text">
            <li class="card-text m-2" data-type="level" data-experience="{{exp}}">Level: <span></span></li>
            <li class="card-text m-2">Health: {{health}} </li>
        </ul>
        <a href="/creature/{{id}}" id="cardButton" class="btn m-1">Visit Brand</a>
    </div>
</div>