<div>{{> navbar}}</div>

<h2 id="greeting" class="display-3 text-center mt-5 mb-5"> Hi {{ username }}, I'm {{ myCreature.name }}!</h1>

<div id="creatureBox" class="d-flex flex-wrap flex-md-row flex-sm-column justify-content-center container">
  <div class="active-creature-block">
    <div class="d-flex flex-column justify-content-space-evenly p-2">
      <div class=" text-center pb-3">
        <h3 class="display-5">{{ myCreature.name }}</h3>
        <div class="p-4">
          <i id="icon" data-id="{{ myCreature.id }}" data-user="{{ userId }}" class="fab {{ myCreature.brand.icon }} fa-8x rest"></i>
        </div>
       
        {{!-- <p>{{ myCreature.exp }}</p> --}}
        <div class="container testing">
          <h3>Stats for testing...</h3>
          <ul>
            <li>Happiness: {{myCreature.carestat.happiness}}</li>
            <li>Hunger: {{myCreature.carestat.hunger}}</li>
            <li>Grooming: {{myCreature.carestat.grooming}}</li>
            <li>Energy: {{myCreature.carestat.energy}}</li>
          </ul>
        </div>
         <div class="progress">
          <div id="progress"class="progress-bar" role="progressbar" aria-valuenow="{{myCreature.exp}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="interactionbox" class="container">
          <button id="feedBtn" class="button btn-primary p-1">Feed</button>
          <button id="petBtn" class="button btn-primary p-1">Pet</button>
          <button id="catchBtn" class="button btn-primary p-1">Play Catch</button>
        </div>
      </div>
    </div>

    <script src="../assets/js/creature/updateCreature.js"></script>
