<div class="vh-100">
    <div id="iconStats" class="d-flex justify-content-evenly">
        <div class="container p-0 m-0 w-25">
            <div>
                <ul id="stats-list" class="w-fit w-25">
                    <li>{{Creature_Name}}</li>
                    <li>{{Creature_Health}}</li>
                    <li>{{Creature_Happiness}}</li>
                    <li>{{Creature_Groom}}</li>
                </ul>
            </div>
        </div>
        {{!-- This period is for my after --}}
        <section id="icon-holder">
            <i id="icon" class="fab {{creature_icon}} fa-10x m-1 creature-groomed"></i>
        </section>
    </div>

    <div class="container d-flex">
        <button id="feed">Feed</button>
        <button id="pet">Pet</button>
        <button id="catch">Play Catch</button>
    </div>
</div>

<script src="./assets/js/petPage.js"